@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    font-weight: Extra-light;
    background-color: #f0f0f0;
    color: #171546;
    width: 720px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
}
p{
    
}
